<div class="allContent">
    <div class="container">
        <form class="text-center">
          <div class="form-group">
            <p class="text-light fw-bold">Please enter the first letter capital</p>
            <input type="text" required name="cityName" class="fw-bold form-control-lg form-control" [(ngModel)]="cityName" placeholder="City Name" id="CityName"/>
            <p class="text-danger mt-2 fw-bold" *ngIf="!cityName">This field required</p>
          </div>
          <div class="form-group">
            <input type="text" required name="stateName" class="fw-bold mt-4 form-control-lg form-control" [(ngModel)]="stateName" placeholder="state Name" id="stateName"/>
          </div>
          <button type="button" routerLink="weather" (click)="onClick()" class="btn p-3 fw-bold mt-4 btn-primary btn-custom">Go to the city weather</button>
        </form>
    </div>
</div>
